<div #cardsContainer class="side-cards-container" 
     (touchstart)="onTouchStart($event)"
     (touchmove)="onTouchMove($event)"
     (touchend)="onTouchEnd()">
  <div
    class="card"
    *ngFor="let card of isMobile ? clonedCards : cards; let i = index"
    [style.transform]="getCardTransform(i)"
    [style.zIndex]="hoveredIndex === i ? 99 : i + 10"
    [class.hovered]="hoveredIndex === i"
    [class.left-of-hover]="hoveredIndex !== null && i < hoveredIndex"
    [class.right-of-hover]="hoveredIndex !== null && i > hoveredIndex"
    (mouseenter)="hoveredIndex = i"
    (mouseleave)="hoveredIndex = null"
  >
    <div class="card-content">
      <img *ngIf="card.image" [src]="card.image" alt="card image" loading="lazy" />
    </div>
  </div>
</div>