<div class="parent">
  <!-- <app-header></app-header> -->
  <section class="about-me-section text-white text-center py-5 px-3">
    <div class="container">
      
      
      <!-- Icon Circle with inline SVG background -->
      <div class="icon-circle mx-auto mb-4 pixel-icon"></div>

      <!-- Heading -->
      <h2 class="about-title mb-3">The story of me being \</h2>

      <!-- Description -->
      <p class="about-description mx-auto">
        This cool template is cooked up by
        <span class="highlight">Prasad</span> and
        <span class="highlight">Somnath</span>. Feel free to spill the beans
        about yourself in this zone — share your work wizardry, your fave
        hobbies, and whatever floats your boat right now.
      </p>

    </div>
    <app-side-cards></app-side-cards>
  </section>
</div>
