<nav class="navbar">
  <div class="navbar-left">
    <h2 class="logo">Admin Panel</h2>
  </div>

  <div class="navbar-right">
    <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/admin/messages" routerLinkActive="active">Messages</a>
    <a routerLink="/admin/settings" routerLinkActive="active">Settings</a>
    <a routerLink="/admin/analytics" routerLinkActive="active">Analytics</a>
    <a routerLink="/admin/portfolio" routerLinkActive="active">Portfolio</a>
    <a routerLink="/login">Logout</a>
  </div>
</nav>
