<div class="custom-header sticky-top z-3">
  <div class="container d-flex justify-content-center py-3">
    <ul class="nav nav-pills px-4 py-2 shadow custom-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#work">Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#faq">FAQ</a>
      </li>
    </ul>
  </div>
</div>
