<section class="work-section" id="work">
  <div class="container">
    <!-- <p class="subtitle">CURATED WORK</p> -->
    <p
      style="
        --font-selector: R0Y7TWFucm9wZS02MDA=;
        --framer-font-family: 'Manrope', sans-serif;
        --framer-font-size: 12px;
        --framer-font-weight: 600;
        --framer-letter-spacing: 0.5em;
        --framer-line-height: 100%;
        --framer-text-alignment: center;
      "
      class="framer-text"
    >
      <span
        data-text-fill="true"
        style="
          background-image: linear-gradient(
            99.6983deg,
            rgb(198, 252, 166) 0%,
            rgba(167, 252, 238, 0.74) 100%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
        "
        class="framer-text"
      >
        CURATED WORK
      </span>
    </p>

    <h2 class="section-title">Featured Work</h2>
    <p class="description">Compilation of work that evoke my sense of pride</p>

    <!-- Stacked sticky cards -->
    <div class="card-container">
      <div class="card-wrapper">
        
        <div class="blurred-gradient"></div>
        <div
        class="case-study-card stacked-card"
        *ngFor="let card of cards; let i = index"
        [ngStyle]="{ top: 100 + i * 60 + 'px' }"
        >
          <div class="card-text">
            <p class="project-meta">{{ card.meta }}</p>
            <h3 class="project-title">{{ card.title }}</h3>
            <ul class="project-highlights">
              <li *ngFor="let point of card.points">{{ point }}</li>
            </ul>
            <a href="{{ card.link }}" class="btn btn-light"
              >View Case Study →</a
            >
          </div>
          <div class="card-image">
            <img [src]="card.image" [alt]="card.title" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

