<div class="logo-carousel">
  <div class="carousel-track">
    <img src="https://framerusercontent.com/images/wkkTLknws3f9UU6EHLlTuPTAWTA.png" alt="Logo 1">
    <img src="https://framerusercontent.com/images/vdDDh6N0IVEpe7DhExLFW95Z9o.png" alt="Logo 2">
    <img src="https://framerusercontent.com/images/k0rTaGjtPgrYgWuyCd76J8FvigU.png" alt="Logo 3">
    <img src="https://framerusercontent.com/images/rIBZT0b3sUi4s9Mm8pKx2AU0TuA.png" alt="Logo 4">
    <img src="https://framerusercontent.com/images/aagQfnkZKKF8AcTW40iU12k8.png" alt="Logo 5">
    <!-- Repeat for loop effect -->
    <img src="https://framerusercontent.com/images/wkkTLknws3f9UU6EHLlTuPTAWTA.png" alt="Logo 1">
    <img src="https://framerusercontent.com/images/vdDDh6N0IVEpe7DhExLFW95Z9o.png" alt="Logo 2">
    <img src="https://framerusercontent.com/images/k0rTaGjtPgrYgWuyCd76J8FvigU.png" alt="Logo 3">
  </div>
</div>
