.logo-carousel {
  width: 100%;
 
  margin-top: 50px;
  margin-bottom: 100px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
  transform: scale(0.8); /* 👈 scale the whole component */
  transform-origin: center; /* 👈 optional: makes scaling center-aligned */
}

.carousel-track {
  display: flex;
   height :60px;
  gap: 60px;
  animation: scrollLogos 30s linear infinite;
  align-items: center;
}

.carousel-track img {
  height: 40px;
  flex-shrink: 0;
  filter:grayscale();
  object-fit: contain;
}
.carousel-track img:hover{
  filter: none;
  transform: scale(1.2);
}


@keyframes scrollLogos {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
