.skills-carousel {
  padding: 20px;
  margin: 50px;
  border: 2px rgb(248, 0, 0,0.9);
}

.skill-card {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 12px;
  min-width: 120px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
}
